<div>
    {{#if productsArray}}
        <h1>Your cart</h1>
        {{!-- <table class="cartInfo"> --}}
        <p><button id="emptyCart" value={{cid}}>Delete all items</button></p>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            {{#each productsArray}}
                <tr>
                    <td>{{this.product.title}}</td>
                    <td class="description">{{this.product.description}}</td>
                    <td>{{this.product.price}}</td>
                    <td>{{quantity}}</td>
                    <td><button id={{this.product._id}} name="removeItem" value={{this.product._id}}>Remove item</button></td>
                </tr>
            {{/each}}
        </table>
        <h4>{{message}}</h4>
        <div style="margin:25px;">
            <a href="/api/products">Continue shopping</a>
        </div>
        <form action="/api/carts/{{cid}}/purchase" method="post">
            <input type="submit" value="Purchase cart"/>
        </form>
    {{else}}
        <div class="message">
            <p>Empty cart. You don't have any products yet.</p>
            <a href="/api/products"><button>Back</button></a>
        </div>
    {{/if}}
</div>
<script type="module" src="/js/client.js"></script>