<div class="productInfo">
    <h3>{{this.title}}</h3>
    <h5>{{this.description}}</h5>
    <p>Price: {{this.price}}</p>
    <p>Category: {{this.category}}</p>
    <p>Stock: {{this.stock}}</p>
    {{#if this.isOwner}}
        <button id="deleteProductById" name="Delete product" value={{this._id}}>Delete product</button><br><br>
    {{/if}}
    <a href="/api/products/">Volver</a>
</div>
<script src="/js/client.js"></script>