<div>
    <h3>{{this.title}}</h3>
    <h5>{{this.description}}</h5>
    <p>Price: {{this.price}}</p>
    <p>Category: {{this.category}}</p>
    <p>Stock: {{this.stock}}</p>
    <a href="/api/products/">Volver</a>
</div>