{{#if results.admin}}
    <h1>Product Manager</h1>
{{/if}}
<h3>Bienvenido, {{results.greetingName}}</h3>
<div class="menubar">
    {{#unless results.admin}}
        <form action="/api/carts/" method="post">
            <button>Create new cart</button>
        </form>
        <a href="/api/carts/{{results.cartId}}">See my cart</a>
        <a href="/chat">Chat</a>
    {{/unless}}
    <a href="/sessions/logout">Logout</a>
</div>
{{#unless results.userRole}}
    <div class="formData">
        <label style="font-size:20px;font-weight:bold;" for="">Add new product</label>
        <form action="/api/products" method="post">
            <div class="formItem">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title"><br />
            </div>
            <div class="formItem">
                <label for="title">Description:</label>
                <input type="text" name="description" id="description"><br />
            </div>
            <div class="formItem">
                <label for="title">Price:</label>
                <input type="text" name="price" id="price"> <br />
            </div>
            <div class="formItem">
                <label for="title">Category:</label>
                <input type="text" name="category" id="category"><br />
            </div>
            <div class="formItem">
                <label for="title">Code:</label>
                <input type="text" name="code" id="code"><br />
            </div>
            <div class="formItem">
                <label for="title">Stock:</label>
                <input type="text" name="stock" id="stock"><br />
            </div>
            <input type="submit" id="newProduct" value="Add new product">
        </form>
    </div>
    <br>
    {{!-- <div class="deleteById">
        <label style="font-size:20px;font-weight:bold;" for="">Delete product by Id</label>
        <form action="/api/products" method="delete">
            Id: <input type="text" id="idProduct">
            <input type="submit" id="deleteProduct" value="Delete this product">
        </form>
    </div> --}}
{{/unless}}
<hr>
<div class="showProducts">
    {{#each results.docs}}
        <div class="eachProduct">        
            <a href="/api/products/{{this._id}}"><h3>{{ this.title }}</h3></a>
            <p>Description: {{ this.description }}</p>
            <p>Price: {{ this.price }}</p>
            <p>Category: {{ this.category }}</p>
            <p>Stock: {{ this.stock }}</p>
            {{#unless ../results.admin}}
                <form action="/api/carts/{{../results.cartId}}/products/{{this._id}}" method="post">
                    {{!-- <label for="qty">Quantity: </label>
                    <input type="text" id="qty"> --}}
                    <button id="addToCart">Add to cart</button>
                </form> 
            {{/unless}}
            {{#if ../results.admin}}
                <form action="/api/products/{{this._id}}" method="delete">
                    <input type="button" id="deleteById" value="Delete product"/>
                </form> 
            {{/if}}
        </div>
    {{/each}}
</div>
<div class="pageNumber">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{#if results.hasPrevPage}}{{else}}disabled{{/if}}">
                <a class="page-link" href="products?page={{results.prevPage}}&limit={{results.limit}}">Anterior</a>
            </li>
            {{#each pagination}}
                <li class="page-item {{#if this.active}}active{{else}}{{/if}}">
                    <a class="page-link" href="/api/products?page={{this.page}}&limit={{../results.limit}}">{{this.page}}</a>
                </li>
            {{/each}}
            <li class="page-item {{#if results.hasNextPage}}{{else}}disabled{{/if}}">
                <a class="page-link" href="products?page={{results.nextPage}}&limit={{results.limit}}">Siguiente</a>
            </li>
        </ul>       
    </nav>
</div>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
{{!-- <script src="/js/client.js"></script> --}}